/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 5px 6px 0px 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 3px;
}

body .img {
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 500;
  margin: 5px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
}

header li {
  list-style-type: none;
  text-align: center;
}

header a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header img {
  width: 30%;
  padding: 10px;
  left: 0%;
}

.fa-envelope::before {
  color: #f4f4f4;
}

.fa-headphones::before {
  color: #f4f4f4;
}

.fa-map-marker::before {
  color: #f4f4f4;
  padding-top: 5px;
}

.fa-facebook ::before {
  color: #beb6b6;
}

.fixed img {
  right: 0;
  z-index: 3;
  position: fixed;
  width: 22%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .image1 {
  width: 50%;
  position: relative;
}

.container .image1:hover .text1 {
  max-height: 100%;
}

.container .image1 img {
  width: 100%;
}

.container .image1 .text1 {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(212, 176, 176, 0.781);
  color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-height: 0;
  overflow: hidden;
}

.container .image1 .text1 h2 {
  margin-bottom: 20px;
}

.container .image1 .text1 p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 14px;
}

.hero {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: lighter;
}

.hero h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

.hero p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.image img {
  width: 100%;
}

.infor {
  font-weight: lighter;
}

.infor img {
  width: 100%;
  -webkit-transition: ease-in-out 4s;
  transition: ease-in-out 4s;
}

.services {
  font-size: 15px;
  background-color: black;
}

.services h2 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #f4f4f4;
}

.services p {
  color: #4d4949;
}

.banner-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-inner i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  top: 20px;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  color: #2e2727;
}

.fas {
  padding-top: 5px;
}

.footer-inner {
  background-color: black;
}

#subject.field {
  width: 100%;
}

#message.field {
  width: 100%;
  height: 100%;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: grey;
}

.cards {
  margin: 7 auto;
  margin-top: 15px;
}

.card {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 50px;
}

.field :hover {
  background-color: #533d3d;
}

.field {
  width: 100px;
  font-size: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  height: 20px;
}

.about-inform h2 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}

.abouthover {
  width: 100%;
  overflow: hidden;
  height: 200px;
}

.abouthover:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform: translate(2s);
          transform: translate(2s);
}

h2 {
  color: black;
  padding-top: 10px;
}

.banner-inside h2 {
  color: #f4f4f4;
}

.appli h1 {
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
}

.pictures h4 {
  font-size: 12px;
  padding-bottom: 10px;
}

.iconi {
  padding-bottom: 10px;
}

p {
  text-align: center;
  color: #5c5656;
  padding-top: 15px;
  padding-bottom: 10px;
  top: 40px;
  font-size: 12.5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icons i {
  padding-top: 15px;
  padding-left: 3px;
  padding-right: 3px;
}

.banner img {
  width: 100%;
}

.banner-inside {
  background-color: black;
  top: 350px;
  left: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.banner-inside .fa-facebook {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f4f4f4;
  justify-items: center;
}

.banner-inside .fa-instagram {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f4f4f4;
  justify-items: center;
}

.banner-inside .fa-twitter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f4f4f4;
  justify-items: center;
}

.teams img {
  width: 100%;
}

.footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer i {
  color: #505353;
}

.footer ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  padding: 20px;
}

.footer li {
  list-style-type: none;
}

.footer a {
  text-decoration: none;
  color: grey;
}

.footer h2 {
  color: #f4f4f4;
  text-align: center;
  color: #f4f4f4;
  font-size: 15px;
}

.footer p {
  color: #f4f4f4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer h3 {
  color: grey;
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
}

.footer hr {
  color: #5f5c5c;
}

.footer p {
  text-align: center;
  color: grey;
}

.footer-inner h4 {
  color: grey;
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}

.footer-inner h3 {
  color: grey;
  text-align: center;
  font-size: 13px;
  padding-top: 18px;
}

.teams.pictures .img {
  width: 100%;
}

.appli {
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.appli .formss {
  width: 50%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appli .formss .cards {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appli .formss .cards #text {
  width: 100%;
  margin-right: 5px;
}

.appli .formss .cards #email {
  width: 100%;
  margin-right: 5px;
}

.appli .formss .car #subject {
  width: 100%;
  margin-bottom: 8px;
}

.appli .formss .car #message {
  width: 100%;
  margin-bottom: 8px;
}

.appli .formss .car .sub {
  width: 100%;
  margin-bottom: 8px;
}

.sub {
  width: 80%;
  cursor: pointer;
  background-color: #e6ae17;
  color: #f4f4f4;
  padding: 10px  5px 5px 10px;
  border: none;
}

.team {
  font-family: sans-serif;
}

.team h1 {
  font-weight: lighter;
  text-align: center;
}

.team p {
  text-align: center;
}

.our {
  font-family: sans-serif;
}

.our h1 {
  text-align: center;
  font-weight: lighter;
  padding-top: 15px;
}

.our p {
  text-align: center;
}

.companies {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.companies img {
  width: 45%;
}

.team h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
}

.our h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
}

.forms {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-inner {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-inform {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .fixed img {
    width: 15%;
  }
  .companies img {
    width: 26%;
  }
  .icons i {
    padding-top: 15px;
  }
  .fixed {
    top: 100px;
  }
  .container .image1 {
    width: 33.3%;
  }
  .image1 img {
    width: 100%;
  }
  .image::before {
    content: "lorem";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: blue;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100%;
    opacity: 0;
    -webkit-transition: 3s;
    transition: 3s;
    -webkit-transition-delay: 2s;
            transition-delay: 2s;
  }
  .image::before .image::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 0;
    background-color: cadetblue;
    -webkit-transition: 10s;
    transition: 10s;
  }
  .image::before .galleryplace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .serv {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .header {
    margin: 25px;
  }
  header a {
    font-size: 15px;
  }
  .hero h1 {
    font-size: 25px;
  }
  .hero p {
    font-size: 15px;
  }
  .infor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25%;
    padding: 10px;
  }
  #text.field {
    width: 100%;
  }
  #email.field {
    width: 100%;
  }
  .image {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .image .img {
    width: 100%;
    height: 100%;
  }
  .a {
    width: 33.3%;
    height: 20vh;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .logo .logos img {
    margin-left: 30px;
    padding: 13px;
    width: 30%;
  }
  .pictures-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .teams {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
  }
  .about-inform h2 {
    font-size: 15px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .about-inform p {
    font-size: 15px;
    padding-top: 10px;
  }
  .infor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-inform {
    padding: 10px;
  }
  .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form {
    padding-left: 130px;
  }
  .forms h2 {
    font-size: 40px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
  }
  .banner-inside h2 {
    color: #f4f4f4;
    padding-left: 10px;
  }
  .banner-inside p {
    font-size: 15px;
  }
  .banner-inside {
    width: 50%;
  }
  .banner img {
    width: 50%;
  }
  .banner-inside i {
    color: #f4f4f4;
    font-size: 25px;
    padding-left: 20px;
  }
  .banner-inside p {
    padding-bottom: 20px;
  }
  .input text {
    width: 50%;
  }
  .footer-inner {
    background-color: black;
  }
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: grey;
    font-size: 15px;
  }
  .icons p {
    font-size: 15px;
  }
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .in {
    margin: 0 auto;
    padding: 70px 0px 0px 0px;
  }
  .appli {
    width: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .appli .formss {
    width: 42%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .appli .formss .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .appli .formss .cards #text {
    width: 48%;
    margin-right: 5px;
  }
  .appli .formss .cards #email {
    width: 48%;
    margin-left: 5px;
  }
  .appli .formss .car #subject {
    width: 99%;
    margin-bottom: 8px;
  }
  .appli .formss .car #message {
    width: 99%;
    margin-bottom: 8px;
    height: 100%;
  }
  .appli .formss .car .sub {
    width: 100%;
    margin-bottom: 8px;
    border: none;
  }
  .field {
    width: 100px;
    font-size: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px;
    height: 40px;
  }
}

@media (min-width: 992px) {
  .companies img {
    width: 15%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 35px;
  }
  .footer {
    width: 100%;
  }
  .logo {
    width: 45%;
  }
  .logos1 {
    width: 95%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 30px;
  }
  .teams {
    padding: 30px;
  }
  .team h1 {
    font-size: 40px;
  }
  .hero h1 {
    font-size: 40px;
  }
  .our h1 {
    font-size: 40px;
  }
  .icons {
    font-size: 25px;
  }
  .icons p {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .appli .forms .cards #email
.companies img {
    width: 15%;
  }
  .fixed {
    top: 140px;
  }
  .fixed img {
    width: 14%;
  }
  .about-inform h2 {
    font-size: 20px;
    font-weight: 500;
  }
  .icons i {
    padding-top: 12px;
  }
  .container .image1 {
    width: 20%;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .hero h1 {
    font-size: 80px;
  }
  .team h1 {
    font-size: 50px;
  }
  .team h1 p {
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .our h1 {
    font-size: 50px;
  }
  .our h1 p {
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .form {
    padding-left: 150px;
  }
  .appli .formss {
    height: 40%;
  }
  .logo {
    width: 45%;
  }
  .logos1 {
    width: 90%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .field {
    width: 40%;
  }
  .card {
    padding: 30%;
  }
  .header a {
    font-size: 60px;
    font-weight: bolder;
  }
  .header .appli h2 {
    text-align: center;
    padding-top: 20px;
  }
  .header .about-text p {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */